
.inputsList{
    display: inline;
    text-align: left;
    padding: 0%;
}


#inList li{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: #878787;
    margin-top: 7%;
    letter-spacing: 0.5em;
    width: 15%;
}

#inList input{
    border: 0;
    width: 80%;
    margin-top: 5%;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 0.2em;
    padding: 1%;
    
}
/* esto generaba conflicto con la aplicacion de la clase wrongData al cambairla por info mala   
#inList input:focus input{
    outline-color: #aeaeae;
}
*/
.wrongData{
    outline-color: #ff0000;
    color: red;
    
    
}

.centeredItems{
   text-align: center;
}

body{

   
}

.outputList{
    width: 60%;
    margin-left: 27%;
    margin-right: 20%;
    padding: 0%;

}

#outList li{
    display: block;
    block-size: 1.9em;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-align: left;
    font-weight: bolder;
    font-size: 3em;
    color: #171717;
    width: fit-content;
}

.dashesStyle{
    color: rgb(149, 66, 244);
    display: inline;
    font-size: 1.5em;
}

.bigLetters{
    display: inline;
}

.imageContainer{
    margin-left: 70%;
    margin-block-start: 3%;
}

#arrowDown{
    size: 1em;
    height: 6em;
}


